.gradient-custom {
    /* fallback for old browsers */
    background: #8d1b1f;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(203, 17, 17), rgb(51, 2, 2));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(203, 17, 33), rgb(51, 2, 2))
    }